.display {
  height: 25vh;

  display: grid;
  grid-template-rows: 4vh repeat(3, calc(#{$flag-height} / 3));
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas:
    "announce announce announce"
    ". flag score-c"
    "guesses flag ."
    ". flag score-t";
  align-items: center;
  justify-items: center;
}

.announce {
  grid-area: announce;

  text-align: center;
  font-family: "Pangolin", cursive;
  text-shadow: 0 0 0 rgba(50, 50, 50, 0.3);

  &__final {
    font-size: 2em;

    &--yes {
      color: $green;
    }
    &--no {
      color: $red;
    }
  }

  &__feature {
    font-size: 1.5em;

    &--yes {
      color: $lightgreen;
    }

    &--no {
      color: $lightred;
    }
  }

  &__animation {
    &--final {
      animation: announce-final 0.5s ease-out 0s 1 normal none;
    }

    &--feature {
      animation: announce-feature 0.4s ease-in-out 0s 1 alternate none;
    }
  }
}

.flag {
  //Width based on Qatar's flag which is the widest one
  width: $flag-width;
  height: $flag-height;
  grid-area: flag;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  &__img {
    height: 90%;
    box-shadow: 0 0 10px gray;
  }

  &__animation {
    &--appear {
      animation: flag-appear 1.5s ease-in-out 0s 1 normal none;
    }

    &--disappear {
      animation: flag-disappear 1s ease-in-out 0.5s 1 normal forwards;
    }
  }
}

.score {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  font-family: "Fredoka One", cursive;
  font-size: 1em;

  & span {
    font-size: 1.3em;
  }

  &--current-score {
    grid-area: score-c;

    align-self: end;
    justify-self: start;
  }

  &--total-score {
    grid-area: score-t;

    align-self: start;
    justify-self: start;

    letter-spacing: 0.1em;

    & span {
      animation-delay: 0s;
    }
  }

  &--correct-guesses {
    grid-area: guesses;

    justify-self: end;
    justify-content: flex-end;
  }

  &__content {
    display: block;
  }

  &__animation {
    &--increment {
      animation: score-increment 0.3s ease-in-out 0.3s 2 alternate none;
    }

    &--move {
      animation: score-move 1.5s ease-in-out 0.4s 1 normal none;
    }
  }
}
