.header {
  height: 25vh;
  width: 100%;
  padding: 5vh 10vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background-image: url("../assets/header.svg");
  background-repeat: no-repeat;
  background-size: contain;

  text-align: center;
  letter-spacing: 1px;
  font-weight: 700;

  &__title {
    display: flex;
    flex-direction: row;

    font-family: "Pangolin", cursive;
    font-size: 6vh;

    & span {
      display: block;
      padding: 0 0.5vw;
    }

    &--fun {
      color: $yellow;
      transform: rotate(10deg);
    }

    &--with {
      color: $red;
      transform: rotate(-10deg);
    }

    &--flags {
      color: $green;
      transform: rotate(10deg);
    }
  }

  &__subtitle {
    padding: 1vh 0;

    color: rgb(230, 250, 250);
    font-size: 2.5vh;
    font-weight: 700;
  }

  &__btn {
    width: 2vw;
    height: 2vw;

    position: fixed;
    top: 3vw;
    right: 3vw;

    border-radius: 50%;
    background-image: url("../assets/question.svg");
    background-size: 2.5vw;
    background-position: center;
  }
}
