.header {
  height: 30vh;
  width: 100%;
  padding: 0 10vw;
  overflow: scroll;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  background-image: url("../assets/header.png");
  background-repeat: no-repeat;
  background-size: contain;

  // font-family: "Amatic SC", cursive;
  text-align: center;
  color: whitesmoke;
  letter-spacing: 1px;
  font-weight: 700;

  &__title {
    display: flex;
    flex-direction: row;

    font-family: "Pangolin", cursive;
    font-size: 3.2vw;

    & span {
      display: block;
      padding: 0 0.5vw;
    }

    &--fun {
      color: $yellow;
      transform: rotate(10deg);
    }

    &--with {
      color: $red;
      transform: rotate(-10deg);
    }

    &--flags {
      color: $green;
      transform: rotate(10deg);
    }
  }

  &__subtitle {
    padding: 1vh 0;

    color: rgb(230, 250, 250);
    font-size: 1.6vw;
    font-weight: 700;
  }

  &__instructions {
    width: 80%;

    font-size: 1vw;
    font-weight: 500;
  }

  &__instruction {
    padding: 5px 0;
  }
}
