.header {
  height: 30%;
  width: 100%;
  padding: 0 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-image: linear-gradient(
      0deg,
      rgba(0, 3, 56, 0.75),
      rgba(0, 3, 56, 0.75)
    ),
    url("../images/fun-with-flags.png");
  background-size: cover;
  font-family: "Amatic SC", cursive;
  text-align: center;
  color: whitesmoke;
  letter-spacing: 1px;
  font-weight: 700;

  &__title {
    font-family: "Press Start 2P", cursive;
    text-shadow: 2px 2px grey;

    &__emphasis {
      color: rgba(146, 23, 50, 0.986);
      text-shadow: 3px 3px 10px rgb(146, 23, 50);
      font-family: "Press Start 2P", cursive;
    }
  }

  &__subtitle {
    font-size: 1.6em;
    padding: 1vh 0;
  }

  &__instructions {
    font-size: 1.1em;
    font-weight: 300;

    &:last-child {
      margin-bottom: 2%;
    }
  }
}
