.input {
  height: 45%;
  width: 100%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: "Comfortaa", cursive;
  font-size: 0.8em;

  &__section {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1% 3%;

    // &--features {
    //   background-color: rgba(208, 242, 255, 0.5);
    // }
  }

  &__subsection {
    margin: 0.5vh 0;

    &--instructions {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 5%;
    }
  }

  &__form {
    display: flex;
    flex-direction: row;

    &--country {
      font-weight: 700;
      font-size: 1.2em;
      background-color: rgba(208, 215, 255, 0.5);
      box-shadow: 0 0 10px rgba(208, 215, 255, 0.5);

      & input {
        border: none;
      }
    }

    &--options {
      display: flex;
      align-items: center;
    }
  }

  &__options-group {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__option {
    padding: 0 1vh;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__radio {
    margin-right: 0.5vh;
  }

  &__box {
    height: 2.5vh;
    border-radius: 3px;
    border: 1px solid lightblue;
  }

  &__submitBtn {
    width: 2.5vh;
    height: 2.5vh;
    margin-left: 1vh;
  }

  &__btn {
    font-family: "Ubuntu", sans-serif;
    padding: 0.5%;
    margin: 0.5%;

    &--expand {
      width: 100%;
      padding: 3%;
    }
  }

  &__title {
    font-weight: 700;
  }

  &__text--or {
    font-family: "Freckle Face", cursive;
    color: rgb(0, 183, 255);
    font-size: 2em;
  }
}
