.input {
  height: 45vh;
  width: 100vw;
  padding: 0 $input-padding;

  display: grid;
  grid-template-rows: 1fr 3.5fr 0.5fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "main main"
    "features options"
    "btns btns";
  column-gap: $column-gap;
  row-gap: $row-gap;

  justify-items: center;

  font-family: "Comfortaa", cursive;
  font-size: 0.8em;

  &__section {
    width: 100%;
    height: 100%;
    padding: 0 3%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    &--features,
    &--options {
      grid-area: features;

      border: 1px solid whitesmoke;
      border-radius: 2vw;
      box-shadow: 0 0 10px lightgrey;
    }

    &--options {
      grid-area: options;
    }

    &--country {
      grid-area: main;
      justify-content: center;

      background-color: rgba(208, 215, 255, 0.5);
      box-shadow: 0 0 10px rgba(208, 215, 255, 0.5);

      font-weight: 700;
      font-size: 1.2em;

      & input {
        border: none;
      }
    }

    &--btns {
      padding: 0;

      grid-area: btns;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }

  &__subsection {
    &--instructions {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &--options {
      width: 45vw;

      display: flex;
      align-items: center;
    }
  }

  &__form {
    display: flex;
    flex-direction: row;
  }

  &__options-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__option {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0.5vw;

    font-size: 0.9em;
  }

  &__radio {
    margin-right: 0.5vh;
  }

  &__box {
    height: 2.5vh;
    border-radius: 3px;
    border: 1px solid lightblue;
  }

  &__submitBtn {
    width: 3vh;
    height: 3vh;
    margin-left: 1vh;

    display: flex;
    justify-content: center;
  }

  &__btn {
    font-family: "Ubuntu", sans-serif;
    padding: 0.5%;
    margin: 0.5%;

    &--expand {
      width: 100%;
      padding: 3%;
    }
  }

  &__title {
    font-weight: 700;
  }

  &__text {
    text-align: center;
    &--or {
      font-family: "Freckle Face", cursive;
      color: rgb(0, 183, 255);
      font-size: 2em;
    }
  }
}
