* {
  margin: 10px 0;
  font-family: "Courier New", Courier, monospace;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 70vw;
  font-size: 60px;
  margin: 0 auto;
  margin-bottom: 60px;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px gray double;
  text-shadow: 3px 3px 5px gray;

  &__fun {
    color: red;
    text-shadow: 5px 5px 5px lightcoral;
  }
}

.flags {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &__img {
    max-width: 40vw;
    max-height: 40vh;
    border: 1px solid lightgray;
  }

  &__anouncement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    font-size: 30px;
    font-weight: bold;

    button {
      font-size: 18px;
    }
  }
}

.input {
  width: 90%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  * {
    font-size: 18px;
    margin: 1% 1%;
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
  }

  &__content {
    width: 12%;
  }
}

.score {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  margin-top: 20px;

  &__current-content,
  &__total-content {
    font-weight: bold;
  }
}

button {
  background-color: black;
  height: fit-content;
  color: lightgray;
  border-radius: 4px;
  padding: 5px 8px;
}
