@import "./base";
@import "./animations";
@import "./header";
@import "./display";
@import "./input";
@import "./celebration";

#root {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgba(46, 149, 190, 0.5);
  font-family: "Comfortaa", cursive;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url("../assets/simple-world-map-master/world-map.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
